.animais {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
  margin-top: 24px;
  margin-bottom: 60px;
}

.animais-img {
  height: 380px;
  overflow-y: scroll;
}

.animais-conteudo {
  margin-bottom: 60px;
}

.animais-conteudo p + p {
  margin-top: 16px;
}

.animais-conteudo h2 {
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.animais-conteudo h2::before {
  content: "";
  display: inline-block;
  height: 8px;
  width: 32px;
  background: var(--cor-p1);
}
