.animais {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
  margin-bottom: 120px;
}

.animais-img {
  height: 380px;
  overflow-y: scroll;
}

.animais-img::-webkit-scrollbar {
  width: 8px;
}

.animais-img::-webkit-scrollbar-thumb {
  background: var(--cor-p1);
  border-left: 4px solid var(--cor-p0);
}

.animais-conteudo {
  margin-bottom: 60px;
}

.animais-conteudo p + p {
  margin-top: 24px;
}

.animais-conteudo h2 {
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.animais-conteudo h2::before {
  content: "";
  display: inline-block;
  height: 8px;
  width: 24px;
  background: var(--cor-p1);
}

@media (max-width: 700px) {
  .animais {
    gap: 20px;
  }
}
