.animais {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
  margin-bottom: 120px;
}

.animais-img {
  height: 410px;
  overflow-y: scroll;
}
.animais-img li {
  cursor: pointer;
}
.animais-img::-webkit-scrollbar {
  width: 8px;
}

.animais-img::-webkit-scrollbar-thumb {
  background: var(--cor-p1);
  border-left: 4px solid var(--cor-p0);
}

.animais-conteudo {
  margin-bottom: 60px;
}

.animais-conteudo p + p {
  margin-top: 24px;
}

.animais-conteudo h2 {
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.animais-conteudo h2::before {
  content: "";
  display: inline-block;
  height: 8px;
  width: 24px;
  background: var(--cor-p1);
}

@media (max-width: 700px) {
  .animais {
    gap: 20px;
    grid-template-columns: 100px 1fr;
  }

  .animais-conteudo p + p {
    margin-top: 12px;
  }
}

/* java */

[data-tab="conteudo"] .animais-conteudo {
  display: none;
}

[data-tab="conteudo"] .animais-conteudo.ativo {
  display: block !important;
}

[data-tab="conteudo"] .animais-conteudo.ativo.show-down {
  display: block !important;
  animation: show-down 0.5s forwards;
}

[data-tab="conteudo"] .animais-conteudo.ativo.show-right {
  display: block !important;
  animation: show-right 0.5s forwards;
}

/* animação */

@keyframes show-right {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes show-down {
  from {
    opacity: 0;
    transform: translate3d(0px, -30px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes show-top {
  from {
    opacity: 0;
    transform: translate3d(0px, 30px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
