[data-menu="button"] {
  display: none;
  position: relative;
  z-index: 300;
}

.js [data-menu="button"] {
  background: var(--cor-11);
  padding: 4px 12px;
  border-radius: 4px;
  margin-left: 20px;
  align-items: center;
  cursor: pointer;
}

.js [data-menu="button"]::before {
  content: "";
  width: 12px;
  height: 2px;
  display: inline-block;
  background: var(--cor-0);
  box-shadow: 0 -4px var(--cor-0), 0 4px var(--cor-0);
  margin-right: 8px;
}

@media (max-width: 700px) {
  .js [data-menu="button"] {
    display: flex;
  }
  .mobile-bg {
    background: var(--cor-p1);
    padding: 12px;
  }
  .js [data-menu="lista"] {
    display: none;
    position: absolute;
    z-index: 200;
    margin: 0px;
    min-width: 180px;
    background: var(--cor-p1);

    grid-column: 1fr;
    top: 0px;
    padding-top: 60px;
    padding-bottom: 10px;
    box-shadow: 2px 2px 2px 0 var(--cor-p3);
    animation: show-down 0.3s forwards;
  }

  .js [data-menu="lista"].ativo {
    display: grid;
  }

  .js .menu {
    gap: 0px;
  }
  .js [data-menu="lista"] a {
    padding: 10px 16px;
    margin: 4px 0px;
  }

  .js .dropdown-menu {
    position: static;
    border: none;
  }
}
