.ativa {
  padding: 500px;
}

.tooltip {
  position: absolute;
  z-index: 500;
  background: var(--cor-10);
  padding: 12px;
  max-width: 150px;
  border: 2px solid var(--cor-p1);
  box-shadow: 0 0 0px 2px var(--cor-10);
  border-radius: 2px;
  text-align: center;
}
